<div id="content">
	<link rel="stylesheet" href="/css/index.css">

	<div id="textareas" class="divdoble">
		<div class="divizq">
			<div class="textos">
                             <h1>Luces</h1>
			</div>		
		</div>
	</div>
</div>
