<!DOCTYPE HTML>
<html lang="esp">
	<head>
		<title>RaspberryPi Lights</title>

		<!-- FAVICON -->
		<link rel="icon" type="image/jpg" href="/images/logo/logo-base.png" />
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>	
		
		<!-- CSS -->
		<link rel="stylesheet" href="/css/layout.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="/css/menu.css" type="text/css" media="screen" charset="utf-8" />
		
	
		<!-- SCRIPTS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<!-- HTML 5 ENABLING SCRIPT -->
		<!--[if lt IE 9]>
		<script src="http://HTML5shim.googlecode.com/svn/trunk/HTML5.js">
		</script>
		<![endif]-->
				
	</head>

	<body>
		<!-- Begin Header -->

		<header>
			<div id="header_contenido">			 
				<div id="logo_contenedor">			 
					<a href="/"><img src="/images/logo/logo-texto.png" title="RasperryPi Lights"/></a>
				</div>
				<!-- Begin Menu -->
				<nav>	
					<div id="menu_contenido">		
						<div id='cssmenu'>
							<ul>
							   <li><a href="/" title="Inicio" rel=""><span>Inicio</span></a></li>
							   <li><a href='/luces'><span>Try it!</span></a></li>
							   <li><a href='https://github.com/alu0100702149/RaspberryPi-Lights' target="_blank"><span>Ver el proyecto en GitHub</span></a></li>
							</ul>
						</div>
					</div>
				</nav>
				<!-- End Menu -->
				
				<div class="clearing"></div>				
			</div>
		</header>

		<!-- End Header -->	

		<!-- Begin Wrapper -->
		<div id="wrapper">
			<section>
				<%= yield %>
			</section>
		</div>
	   <!-- End Wrapper --> 
                <div class="clearing"></div>
           <!-- Begin Footer -->
		<footer>
		<div id="footer_contenido">
		Este proyecto ha sido desarrollado por <a href="mailto:guillermotegueste@gmail.com?subject=Luces RaspberryPi" target="">Guillermo Rivero Rodriguez</a>. Quiero agradecer a <a href="mailto:bowasiel@gmail.com?subject=Luces RaspberryPi"> Boris Ballester Hernández</a> por la ayuda en el diseño de la Web y el CSS. <br>Todos los derechos reservados®.<br>
		<div class="oauth">
		<%=inSession?()%><a href="/auth/google_oauth2" class="borderradius" title="Google" <%=current?("/auth/google_oauth2")%>> <img alt="Google" src="/images/recursos/google.png"></a>
		</div>
		</div>
		
			
		
        </footer>
           <!-- End Footer -->

	</body>
</html>	
