
<div id="content">
	<link rel="stylesheet" href="/css/luces.css">

	<div id="textareas" class="divdoble">
		<div class="divizq">
			<div id="info">
				<h1>Pulsa un boton</h1>		
				<br>
				<button id="wipe" class="button" type="button" onclick="window.location.href='/luces/:encender'">Encender</button>
				<button id="wipe" class="button" type="button" onclick="window.location.href='/luces/:apagar'">Apagar</button>

				<br><br>
				<!-- Preparando reconocimiento de voz				

				<h1>Prueba a hablarle al ordenador</h1>		
				<br>
				<input type="text" x-webkit-speech id="estado" onwebkitspeechchange="comprobarEstado()">

				-->
			</div>
		</div>
		<div class="divdcha">
	     		<%=estaEncendida?()%>
		</div>
	</div>
</div>


<script src="/zoomooz/jquery.zoomooz.min.js"></script>

