
<div id="content">
	<link rel="stylesheet" href="/css/luces.css">
	<div id="info">		
		<br>
		<h1><a href="/encender" title="Encender" rel=""><span>Inicio</span></a></h1>
		<h1><a href="/apagar" title="Apagar" rel=""><span>Inicio</span></a></h1>
	</div>
</div>


