<div id="content">
	<link rel="stylesheet" href="/css/luces.css">
	<div id="info">
		<h1>Juega con las luces</h1>
		<br>
		<button id="encender" class="button" type="button">Encender</button>
		<button id="apagar" class="button" type="button">Apagar</button>
	</div>
</div>


